@media print, (max-width: 1300px) {

    :root {
        --font_size_title: 36px;
        --font_size: 18px;
    }
    .price_title {
        font-size: 36px;
    }
    .first-section_info ul li {
        font-size: 22px;
    }
    header .menu .item a {
        font-size: 19px;
    }
    footer .menu .item a {
        font-size: 17px;
    }
    .header_logo b,
    footer .header_logo b {
        font-size: 27px;
        white-space: nowrap;
    }
    .header_logo span,
    footer .header_logo span {
        font-size: 15px;
        display: block;
        margin-top: -3px;
    }
    header .menu,
    footer .menu {
        width: calc(100% - 265px);
    }
    .first-section {
        padding: 60px 0 70px;
    }
    .training_item-title {
        font-size: 22px;
        margin-bottom: 20px;        
    }
    .training_items {
        gap: 15px;
    }
    .training_item {
        border-radius: 16px;
        padding: 20px 0 0 20px;
    }
    .program_item {
        border-radius: 20px;
        padding: 20px 0px 0px 20px;
        width: calc(100%/3 - 15px);
    }
    .program_item-title {
        font-size: 26px;
    }
    .program_item-info {
        width: calc(100% - 90px);
        padding: 9px 0 30px 0;
    }
    .callback_img {
        display: none;
    }
    .callback_form {
        padding: 20px 30px;
        border-radius: 20px;
    }
    .callback_wrap:before {
        height: calc(100% + 60px);
        top: -30px;
    }
    .callback_wrap:after {
        height: calc(100% + 60px);
        top: -30px;
    }
    .callback_title {
        margin-bottom: 0px;
    }
    .callback {
        padding-bottom: 0;
    }
    .step_item:nth-child(3) {
        width: calc(100%/2 - 30px);
    }
    .step_item:nth-child(4) {
        width: calc(100%/2 - 30px);
    }
    .step_item:nth-child(5) {
        width: calc(100%/2 - 30px);
    }
    .price_img {
        margin-top: -100px;
        margin-left: auto;
        z-index: 2;
    }
    .price_wrap {
        flex-direction: column;
    }
    .price:before {
        display: none;
    }
    .price .cont:before {
        right: calc(100% - 100px);
        height: 50%;
    }
    .price:after {
        right: -1000px;
        height: 50%;
        top: 50%;
    }
    .price_title span {
        color: #000;
    }
    .price_info {
        margin-left: 160px;
    }
    .price_title {
        padding-left: 160px;
    }
    .price_info .btn {
        display: none;
    }
    .btn-mob {
        display: block;
    }
    .price_summa {
        font-size: 44px;
    }
    .price_category {
        font-size: 22px;
    }



}

