@media print, (max-width: 1023px) {
 
    :root {
        --font_size_title: 30px;
    }
    .price_title {
        font-size: 30px;
    }
    header .mob_menu_btn {
        display: flex;
        order: 1;
    }
    header .menu {
        position: fixed;
        z-index: 666;
        top: 0;
        left: 0;
        display: flex;
        overflow: auto;
        width: 100%;
        height: 100%;
        min-height: -moz-available;
        min-height: -webkit-fill-available;
        min-height:         fill-available;
        margin: 0;
        padding: 113px 22px 57px;        
        transition: transform .3s linear;
        transform: translateX(-100%);
        background: #fff;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
    }
    header .menu.show {
        transform: translateX(0);
    }
    header .close_btn {
        display: flex;
    }
    .menu_open header .mob_menu_btn {
        display: none;
    }
    header .menu .item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 16px;
        text-align: center;
    }
    header .menu .item + .item {
        margin-left: 0;
    }
    .mob_menu_btn.active span:before {
        top: 0;
        transform: rotate(45deg);
    }
    .mob_menu_btn.active span:after {
        top: 0;
        transform: rotate(-45deg);
    }
    .menu_open header {
        background: #2A292F;
    }
    header .close_btn {
        display: none;
    }
    .menu_open header .close_btn {
        display: block;
        top: 0px;
        right: 20px;
        z-index: 999;
        position: absolute;
    }
    header .menu .item a {
        font-size: 26px;
        line-height: 1.5;
        text-transform: uppercase;
    }
    .first-section_wrap {
        flex-direction: column;
        align-items: flex-start;
    }
    .first-section_info {
        max-width: 100%;
        margin-bottom: 25px;
        margin-top: 0;
    }
    .first-section_info ul {
        margin: 50px 0;
    }
    .first-section_img {
        display: none;
    }
    .first-section_img-mob {
        display: block;
        margin-top: 25px;
    }
    .first-section_img-mob img {
        width: 100%;
        height: auto;
    }
    .training_item-title {
        font-size: 19px;
        margin-bottom: 18px;
    }
    .training_item-info {
        margin-bottom: 20px;
        padding-right: 20px;
    }
    .training_item-text {
        font-size: 17px;
    }
    .training {
        padding-bottom: 50px;
    }
    .program_item {
        width: calc(100%/2 - 15px);
    }
    .callback_form .line {
        flex-direction: column;
    }
    .callback_form .line .field {
        max-width: 100%;
    }
    .callback_form button {
        width: 100%;
    }
    .callback_form-title {
        font-size: 26px;
        margin-bottom: 12px;
    } 
    footer .menu {
        flex-direction: column;
    }
    footer .cont {
        flex-direction: column;
    }
    footer .header_logo b {
        font-size: 35px;
    }
    .header_logo span, footer .header_logo span {
        font-size: 20px;
        margin: 0 auto;
        text-align: center;
    }
    footer .header_logo {
        margin-bottom: 32px;
    }
    footer .menu .item a {
        font-size: 16px;
        display: block;
    }
    footer .menu .item + .item {
        margin-top: 16px;
    }
    .first-section .btn {
        margin: 0 auto;
    }
    .program_items {
        margin-left: 0;
        margin-bottom: 0;
    }
    .program_item {
        margin-left: 0;
        margin-bottom: 0;
        width: 100%;
    }
    .program_item:nth-child(1), 
    .program_item:nth-child(2), 
    .program_item:nth-child(3),
    .program_item:nth-child(4), 
    .program_item:nth-child(5) {
        width: 100%;
    }
    .program_item + .program_item {
        margin-top: 8px;
    }
    .step_item:nth-child(1),
    .step_item:nth-child(2),
    .step_item:nth-child(3),
    .step_item:nth-child(4),
    .step_item:nth-child(5),
    .step_item:nth-child(6),
    .step_item:nth-child(7) {
        width: 100%;
    }
    .step_items {
        row-gap: 8px;
        column-gap: 0px;
    }
    .step_item-icon {
        font-size: 34px;
        width: 174px;
        height: 100%;
        margin-right: -85px;
        border-top-left-radius: 20px;
        min-height: 100px;
    }
    .program_item:before {
        right: -87%;
    }
    .step_item-icon img {
        width: 42px;
    }
    .plan_top-item,
    .plan_bottom-item {
        padding: 16px;
        border-radius: 16px;
    }
    .plan_bottom-item-img {
        right: -85px;
    }
    .plan_bottom-item-info {
        width: calc(100% - 130px);
    }
    .price_info {
        margin-left: 120px;
    }
    .price_title {
        padding-left: 120px;
    }
    .price_img {
        margin-top: -73px;        
    }
    .price_img img {
        width: 100%;
        height: auto;
    }
    .price_summa {
        font-size: 36px;
    }
    .price_category {
        font-size: 18px;
    }
    .price .cont:before {
        top: -50px;
    }
    .price {
        padding: 20px 0 25px;
    }
    .price:after {
        top: 55%;
    }
    .step_item {
        border-radius: 16px;
    }
    .callback_wrap:before {
        left: -620px;
    }



    

    
}
