@media print, (max-width: 767px) {

    :root {
        --font_size_title: 24px;
        --font_size: 16px;
    }
    .price_title {
        font-size: 24px;
    }
    .first-section_info ul {
        margin-top: 17px;
        margin-bottom: 24px;
    }
    .first-section_info ul li {
        font-size: 15px;
    }
    .header_logo span {
        font-size: 15px;
    }
    .first-section_title span br {
        display: none;
    }
    .training_item {
        width: 100%;
        flex-direction: row;
        padding: 17px 0 0 17px;
    }
    .training_item-info {
        max-width: 50%;
        padding-right: 3px;
    }
    .training_item-title {
        font-size: 18px;
        margin-bottom: 11px;
    }
    .training_item-text {
        font-size: 16px;
    }
    .training_item-img {
        width: 50%;
        height: auto;
    }
    .title {
        margin-bottom: 20px;
    }
    .program_item {
        width: 100%;
        padding: 10px 0 0 12px;
        border-radius: 16px;
    }
    .program_item-title {
        font-size: 22px;
        margin-bottom: 15px;
    }
    .callback_wrap {
        margin: 20px 0 70px auto;
    }
    .callback_wrap:before {
        height: calc(100% - 120px);
        top: -60px;
        left: -935px;
    }
    .callback_title {
        color: #fff;
        position: relative;
        z-index: 99;
    }
    .callback_title b {
        color: #3F3F3F;
    }
    .callback_form-title {
        font-size: 22px;
        margin-bottom: 17px;
    }
    .callback_wrap:after {
        height: calc(100% - 120px);
        top: 60px;
    }
    .callback_wrap:after {
        height: calc(100% - 30px);
        top: 60px;
    }
    .callback_form {
        padding: 20px;
    }
    .btn {
        font-size: 16px;
    }
    .callback_form button {
        font-size: 16px;
    }
    .program {
        padding-bottom: 50px;
    }
    .first-section_img-mob {
        margin-top: 10px;
    }
    .program_item {
        min-height: 229px;
        position: relative;
    }
    .program_item-icon {
        position: absolute;
        bottom: 6px;
        right: 0;
    }
    .program_item-icon img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .program_item:nth-child(1) .program_item-icon {
        width: 155px;
        height: 145px;
    }
    .program_item:nth-child(2) .program_item-icon {
        width: 146px;
        height: 107px;
    }
    .program_item:nth-child(3) .program_item-icon {
        width: 177px;
        height: 130px;
    }
    .program_item:nth-child(4) .program_item-icon {
        width: 177px;
        height: 130px;
    }
    .program_item:nth-child(5) .program_item-icon {
        width: 157px;
        height: 91px;
    }
    .program_item:nth-child(1) .program_item-info,
    .program_item:nth-child(2) .program_item-info,
    .program_item:nth-child(3) .program_item-info,
    .program_item:nth-child(4) .program_item-info,
    .program_item:nth-child(5) .program_item-info {
        width: 75%;
    }
    .plan_top-item,
    .plan_bottom-item {
        width: 100%;
    }
    .plan_top {
        flex-direction: column;
        gap: 8px;
    }
    .plan_bottom {
        flex-direction: column;
        gap: 8px;
    }
    .plan_bottom-item {
        padding-bottom: 80px;
        min-height: 250px;
    }
    .price_summa {
        font-size: 28px;
    }
    .price_category {
        font-size: 16px;
    }
    .price .cont:before {
        width: 100%;
        right: calc(100% - 120px);
        top: -40px;
        border-radius: 36px;
    }
    .price:after {
        border-radius: 36px;
        right: -975px;
        top: 35%;
    }
    .price {
        padding-bottom: 50px;
    }
    .btn-mob {
        z-index: 1000;
        position: relative;
    }
    .first-section .btn,
    .btn-mob {
        font-size: 16px;
        height: 43px;
        line-height: 43px;
    }


    




}
