/* For old browsers */
@supports (not(--css: variables)) {
    .supports_error {
        display: flex !important;
    }
}

/* For IE */
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .supports_error {
        display: flex !important;
    }
}



/*------------------
    Reset styles
------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:before,
*:after {
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;

    overscroll-behavior: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    text-decoration-skip: objects;
}

img {
    border-style: none;
}

textarea {
    overflow: auto;
}

input,
textarea,
input:active,
textarea:active,
button {
    margin: 0;

    -webkit-border-radius: 0;
    border-radius: 0;
    outline: none transparent !important;
    box-shadow: none;

    -webkit-appearance: none;
    appearance: none;
    -moz-outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    margin: 0;

    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

:focus {
    outline: 0;
}

:hover,
:active {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}


::-ms-clear {
    display: none;
}


@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-Black.eot');
    src: local('Proxima Nova Black'), local('ProximaNova-Black'),
        url('../fonts/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Black.woff2') format('woff2'),
        url('../fonts/ProximaNova-Black.woff') format('woff'),
        url('../fonts/ProximaNova-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-Extrabld.eot');
    src: local('Proxima Nova Extrabold'), local('ProximaNova-Extrabld'),
        url('../fonts/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Extrabld.woff2') format('woff2'),
        url('../fonts/ProximaNova-Extrabld.woff') format('woff'),
        url('../fonts/ProximaNova-Extrabld.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-SemiboldIt.eot');
    src: local('Proxima Nova Semibold Italic'), local('ProximaNova-SemiboldIt'),
        url('../fonts/ProximaNova-SemiboldIt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-SemiboldIt.woff2') format('woff2'),
        url('../fonts/ProximaNova-SemiboldIt.woff') format('woff'),
        url('../fonts/ProximaNova-SemiboldIt.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNovaT-Thin.eot');
    src: local('Proxima Nova Thin'), local('ProximaNovaT-Thin'),
        url('../fonts/ProximaNovaT-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNovaT-Thin.woff2') format('woff2'),
        url('../fonts/ProximaNovaT-Thin.woff') format('woff'),
        url('../fonts/ProximaNovaT-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-Light.eot');
    src: local('Proxima Nova Light'), local('ProximaNova-Light'),
        url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Light.woff2') format('woff2'),
        url('../fonts/ProximaNova-Light.woff') format('woff'),
        url('../fonts/ProximaNova-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-Bold.eot');
    src: local('Proxima Nova Bold'), local('ProximaNova-Bold'),
        url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
        url('../fonts/ProximaNova-Bold.woff') format('woff'),
        url('../fonts/ProximaNova-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-Regular.eot');
    src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
        url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/ProximaNova-Regular.woff') format('woff'),
        url('../fonts/ProximaNova-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-Semibold.eot');
    src: local('Proxima Nova Semibold'), local('ProximaNova-Semibold'),
        url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Semibold.woff2') format('woff2'),
        url('../fonts/ProximaNova-Semibold.woff') format('woff'),
        url('../fonts/ProximaNova-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}





/*-------------------
    Global styles
-------------------*/
:root {
    --bg: linear-gradient(322deg, #171717 0%, #272727 100%);
    --scroll_width: 17px;
    --text_color: #fff;
    --font_size: 20px;
    --font_size_title: 52px;
    --font_family: 'Proxima Nova';
}


::selection {
    color: #fff;

    background: #18A0FB;
}

::-moz-selection {
    color: #fff;

    background: #18A0FB;
}


.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}



html {
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
}

body {
    color: var(--text_color);
    font-family: var(--font_family);
    font-size: var(--font_size);

    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
}


button {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    display: inline-block;

    cursor: pointer;
    vertical-align: top;

    border: none;
    background: none;
}


.wrap {
    position: relative;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    min-width: 360px;
    min-height: 100%;

    background: var(--bg);
}


.main {
    flex: 1 0 auto;
}


.cont {
    width: 100%;
    max-width: 1315px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}


.lozad {
    transition: opacity .5s linear;

    opacity: 0;
}

.lozad.loaded {
    opacity: 1;
}


.row {
    display: flex;

    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}



.overlay {
    position: fixed;
    z-index: 102;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    opacity: .65;
    background: #000;
}



.supports_error {
    font-size: 20px;
    line-height: 30px;

    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;
    padding: 20px;

    text-align: center;

    background: #fff;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.supports_error.show {
    display: flex;
}


header {
    margin-top: 85px;
    margin-bottom: 40px;
}



.title {
    text-align: center;
    font-size: var(--font_size_title);
    font-style: normal;
    font-weight: 800;
    line-height: 98.049%; 
    color: var(--text_color);
    margin-bottom: 23px; 
}
.text {
    color: #C2C2C2;
    text-align: center;
    font-size: var(--font_size);
    font-style: normal;
    font-weight: 700;
    line-height: 133.3%; 
}
.first_section {
    padding-bottom: 123px;
}
.first_section-photo {
    width: 177px;
    height: 76px;
}
.first_section-wrap {
    display: flex;
    justify-content: space-between;
}
.first_section-info {
    max-width: 545px;
    width: 100%;
    flex-shrink: 0;
    margin-top: 86px;
}
.first_section-title {
    text-align: start;
    font-size: 70px;
    font-style: normal;
    font-weight: 800;
    line-height: 98.049%;
    margin-bottom: 45px;
    color: var(--text_color);
    position: relative;
    display: inline-block;
}
.first_section-title b {
    position: relative;
    display: inline-block;
    width: 9px;
    height: 58px;
    opacity: 0.4;
    right: 0;
    top: 11px;
    background: linear-gradient(334deg, #88CB1A -0.9%, #F2FF5B 99.84%);
}
.title span {
    background: var(--123, linear-gradient(334deg, #88CB1A -0.9%, #F2FF5B 99.84%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
}
.first_section-text {
    text-align: start;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 133.3%;
    margin-bottom: 60px;
    color: var(--text_color);
}
.text span {
    background: var(--123, linear-gradient(334deg, #88CB1A -0.9%, #F2FF5B 99.84%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.first_section-link {
    width: 279px;
    display: block;
    padding: 22px 20px;
    text-decoration: none;
    color: #42580F;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 151.782%;
    border-radius: 40.981px;
    background: var(--123, linear-gradient(334deg, #88CB1A -0.9%, #F2FF5B 99.84%));
    box-shadow: 0px 17.075px 76.84px -10.245px rgba(130, 199, 61, 0.60);
}
.first_section-bottom {
    margin-top: 76px;
    display: flex;
    gap: 45px;
    margin-left: 15px;
}
.first_section-number {
    font-size: 63px;
    font-style: normal;
    font-weight: 800;
    line-height: 98.049%; 
    font-variant: all-small-caps;
    background: var(--123, linear-gradient(334deg, #88CB1A -0.9%, #F2FF5B 99.84%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.first_section-user {
    color: var(--text_color);
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;
    padding-left: 18px;
}
.first_section-user:before {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    left: 0;
    top: 4px;
    position: absolute;
    content: "";
    background: linear-gradient(334deg, #88CB1A -0.9%, #F2FF5B 99.84%);
}
.first_section-img {
    position: relative;
    z-index: 2;
    margin-top: -50px;
    margin-left: -45px;
    width: 906px;
    height: 873px;
}
.first_section-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.first_section-img:before {
    z-index: -1;
    top: -110px;
    left: 290px;
    position: absolute;
    content: "";
    width: 779px;
    height: 996px;
    flex-shrink: 0; 
    border-radius: 21px;
    background: linear-gradient(334deg, #88CB1A -0.9%, #F2FF5B 99.84%);
}




.block {
    padding-bottom: 130px;
}
.fact_text {
    max-width: 947px;
    text-align: center;
    margin: 0 auto 70px;
}
.fact_items {
    gap: 32px;
    display: flex;
    flex-wrap: wrap;    
}
.fact_item {
    border-radius: 49px;
    background: linear-gradient(210deg, #343434 0%, #252525 100%);
    box-shadow: 0px 9.377px 32.308px 0px rgba(0, 0, 0, 0.03);
    transition: all .2s;
    padding: 75px 51px 75px 51px;
    flex: 1 1 calc(33.333% - 32px);
}
.fact_item:hover {
    background: linear-gradient(334deg, #88CB1A -0.9%, #F2FF5B 99.84%);
}
.icon {
    fill: #303030;
    transition: all .2s;
    width: 73px;
    height: 73px;
    border-radius: 50%;
    background: #fff;
    padding: 12px;
    flex-shrink: 0;
}
.fact_item:hover .icon {
    fill: #fff;
    background: #1f1f1f;
}
.fact_item-title {
    color: var(--text_color);
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 116.319%; 
    margin-top: 70px;
    transition: all .2s;
}
.fact_item-text {
    color: #C2C2C2;
    font-size: var(--font_size);
    font-style: normal;
    font-weight: 600;
    line-height: 133.3%; 
    margin-top: 17px;
    transition: all .2s;
}
.fact_item:hover .fact_item-title {
    color: #33470D;   
}
.fact_item:hover .fact_item-text {
    color: #33470D;  
}
.fact_item:nth-child(4) {
    display: flex;
    gap: 50px;
    padding: 60px 51px;
}
.fact_item:nth-child(4) .fact_item-title {
    margin-top: 0;
}
.fact_item:nth-child(4) .fact_item-title span {
    background: linear-gradient(334deg, #88CB1A -0.9%, #F2FF5B 99.84%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
}
.fact_item:nth-child(4) .fact_item-text span {
    background: linear-gradient(334deg, #88CB1A -0.9%, #F2FF5B 99.84%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
    font-weight: 700;
}
.fact_item:nth-child(4):hover .fact_item-title span {
    background: #33470D;  
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
}
.fact_item:nth-child(4):hover .fact_item-text span {
    background: #33470D;  
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
}





.algorithm_text {
    margin-bottom: 88px;
}
.tabs_container {
    display: flex;
    gap: 86px;
}
.tabs {
    display: flex;
    flex-direction: column;
    width: calc(100% - 600px);
    margin-top: 17px;
}
.tabs button {
    border-radius: 29px;
    background: linear-gradient(210deg, #343434 0%, #252525 100%);
    box-shadow: 0px 9.377px 32.308px 0px rgba(0, 0, 0, 0.03);
    position: relative;
    padding: 31px;
}
.tabs button .tabs_head {
    display: flex;
    align-items: center;
    gap: 25px;
    color: var(--text_color);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 116.319%; 
}
.tabs button .tabs_head span {
    text-align: start;
}
.tabs button .tabs_desc {
    color: var(--text_color);
    font-size: var(--font_size);
    font-style: normal;
    font-weight: 600;
    line-height: 133.3%; 
    text-align: start;
    margin-top: 15px;
}
.tabs button:hover {
    background: var(--123, linear-gradient(334deg, #88CB1A -0.9%, #F2FF5B 99.84%));
}
.tabs button:hover .tabs_head {
    color: #33470D;
}
.tabs button:hover .tabs_desc {
    color: #33470D;
}
.tabs button.active {
    background: var(--123, linear-gradient(334deg, #88CB1A -0.9%, #F2FF5B 99.84%));
}
.tabs button.active .tabs_head {
    color: #33470D;
}
.tabs button.active .tabs_desc {
    color: #33470D;
}
.tabs button.active .icon {
    background: #000;
    fill: #fff;
}
.tabs button + button {
    margin-top: 20px;
}
.tab_content {
    position: relative;
    visibility: hidden;
    overflow: hidden;
    height: 0;
    pointer-events: none;
    opacity: 0;
}
.tab_content.active {
    visibility: visible;
    overflow: visible;
    height: auto;
    transition: opacity .5s linear;
    pointer-events: auto;
    opacity: 1;
}
.algorithm_img {
    width: 513px;
    height: 1067px;
}
.algorithm_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.tabs button:hover .icon {
    fill: #fff;
    background: #000;
}
.tabs button:hover .fact_item-title {
    color: #33470D;   
}
.tabs button:hover .fact_item-text {
    color: #33470D;  
}






.mode_text {
    margin-bottom: 75px;
}
.mode_item-img {
    width: 182px;
    height: 182px;
}
.mode_item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 14px solid #252525;
}
.mode_item-title {
    margin-top: 46px;
    color: var(--text_color);
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 116.319%; 
}
.mode_item-text {
    color: #C2C2C2;
    font-size: var(--font_size);
    font-style: normal;
    font-weight: 600;
    line-height: 133.3%; 
    margin-top: 23px;
}
.mode_items {
    gap: 32px;
    display: flex;
    flex-wrap: wrap;    
}
.mode_item {
    border-radius: 49.442px;
    background: linear-gradient(210deg, #343434 0%, #252525 100%);
    box-shadow: 0px 9.377px 32.308px 0px rgba(0, 0, 0, 0.03);
    transition: all .2s;
    padding: 36px 45px 45px 45px;
    flex: 1 1 calc(33.333% - 32px);
}



.demo {
    margin: 0 30px;
    border-radius: 21px;
    background: linear-gradient(334deg, #88CB1A -0.9%, #F2FF5B 99.84%);  
    margin-bottom: 264px;
    margin-top: 80px;
    position: relative;
}
.demo::before {
    position: absolute;
    content: "";
    width: 55px;
    height: 53px;
    bottom: 55px;
    left: 105px;
    background: url(../images/demo_icon.svg);
}
.demo::after {
    position: absolute;
    content: "";
    width: 55px;
    height: 53px;
    top: 55px;
    right: 105px;
    background: url(../images/demo_icon.svg);
}
.demo_wrap {
    position: relative;
    padding: 65px 0 68px;
}
.demo_info {
    width: calc(100% - 835px);
}
.demo_title {
    color: #1F1F1F;
    font-size: 66px;
    font-style: normal;
    font-weight: 800;
    line-height: 60px; 
    margin-bottom: 26px;
}
.demo_text {
    color: #1F1F1F;
    font-size: var(--font_size);
    font-style: normal;
    font-weight: 700;
    line-height: 133.3%; 
    margin-bottom: 37px;
}
.demo_link {
    border-radius: 41px;
    background: #1F1F1F;
    box-shadow: 0px 17.075px 76.84px -10.245px rgba(130, 199, 61, 0.60);
    width: 329px;
    height: 73px;
    color: var(--text_color);
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 73px;
    text-decoration: none;
    display: block;
    text-align: center;
}
.demo_img {
    position: absolute;
    top: -173px;
    right: 0;
    width: 760px;
    height: 813px;
}
.demo_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.advantages_text {
    margin-bottom: 70px;
}
.advantages .swiper-slide {
    padding: 31px;
    border-radius: 29px;
    background: linear-gradient(210deg, #343434 0%, #252525 100%);
    box-shadow: 0px 9.377px 32.308px 0px rgba(0, 0, 0, 0.03);
    display: flex;
    align-items: center;
    gap: 27px;
    color: var(--text_color);
    font-size: 29px;
    font-style: normal;
    font-weight: 700;
    line-height: 116.319%; 
}
.icon2 {
    width: 72px;
    height: 73px;    
    flex-shrink: 0;
}
.mt47 {
    margin-top: 47px;
}



.intellect {
    position: relative;
    margin: 0 30px 130px;
    border-radius: 21px;
    background: url(../images/intellect_bg.png), rgba(0, 0, 0, 0.06);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.intellect_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}
.intellect_img {
    margin-left: -116px;
    width: 808px;
    height: 748px;
}
.intellect_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.intellect_title {
    text-align: start;
}
.intellect_info ul {
    list-style: none;
}
.intellect_info ul li {
    color: var(--text_color);
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 133.3%;
    display: flex;
    gap: 17px;
    margin-bottom: 60px;
}
.intellect_info ul li b {
    font-weight: 800;
    background: linear-gradient(334deg, #88CB1A -0.9%, #F2FF5B 99.84%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    display: inline-block;
}
.intellect_info ul li img {
    display: block;
    width: 33px;
    height: 33px;
    flex-shrink: 0;
}
.intellect_link {
    width: 279px;
    height: 72px;
    line-height: 72px;
    border-radius: 40.981px;
    background: linear-gradient(334deg, #88CB1A -0.9%, #F2FF5B 99.84%);
    box-shadow: 0px 17.075px 76.84px -10.245px rgba(130, 199, 61, 0.60);
    color: #42580F;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    display: block;
    text-decoration: none;
    text-align: center;
    margin-left: 50px;
}



.benefits_text {
    margin-bottom: 75px;
}
.swiper-wrapper {
    align-items: stretch;
}
.swiper-slide {
    height: auto;
}
.benefits_item {
    border-radius: 49px;
    background: linear-gradient(210deg, #343434 0%, #252525 100%);
    box-shadow: 0px 9.377px 32.308px 0px rgba(0, 0, 0, 0.03);
    padding: 75px 51px 58px;
    height: 100%;
}
.benefits_item-title {
    color: var(--text_color);
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 116.319%; 
    margin-top: 75px;
}
.benefits_item-text {
    color: #C2C2C2;
    font-size: var(--font_size);
    font-style: normal;
    font-weight: 600;
    line-height: 133.3%; 
    margin-top: 18px;
    max-width: 311px;
}



.faq_text {
    margin-bottom: 75px;
}
.accordion_item {
    margin-bottom: 23px;
}
.accordion_item:last-child {
    margin-bottom: 0;
}
.accordion_item .head {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    cursor: pointer;
    padding: 32px;
    transition: all .2s; 
    position: relative;
    z-index: 2;
    border-radius: 18px;
    border: 2px solid #565656;
}
.accordion_item.active .head {
    background: linear-gradient(334deg, #88CB1A -0.9%, #F2FF5B 99.84%);
}
.accordion_item .head .accordion_title {
    color: var(--text_color);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 116.319%; 
    margin-right: 20px;
    text-align: start;
    max-width: calc(100% - 80px);
}
.accordion_item.active .head .accordion_title {
    color: #42580F;
}
.accordion_item .data {
    color: #C2C2C2;
    font-size: var(--font_size);
    font-style: normal;
    font-weight: 700;
    line-height: 133.3%;
    padding: 34px;
    background: linear-gradient(322deg, #171717 0%, #272727 100%);
    border-radius: 18px;
    border: 2px solid #565656;
    margin-top: 15px;
}
.accordion .accordion_item .data {
    display: none;
}
.accordion .accordion_item .data p+p {
    margin-top: 20px;
}
.faq_btn {   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}
.accordion_item .faq_btn span,
.accordion_item .faq_btn b {
    display: block;
    color: var(--text_color);
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 10px;
    right: 32px;
}
.accordion_item.active .faq_btn b {
    display: block;
    margin-top: -5px;
    color: #42580F;
}
.accordion_item .faq_btn b {
    display: none;
}
.accordion_item.active .faq_btn span {
    display: none;
}



.demonstration_text {
    margin-bottom: 80px;
}
.demonstration-block .video_link {
    display: block;
    position: relative;
    width: 807px;
    height: 452px;  
    margin: 0 auto;
    z-index: 2;
}
.demonstration-block .video_link:before {
    position: absolute;
    content: "";
    width: 1109px;
    height: 374px;
    border-radius: 1109px;
    opacity: 0.2;
    background: linear-gradient(334deg, #88CB1A -0.9%, #F2FF5B 99.84%);
    filter: blur(79.94999694824219px);
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.demonstration-block .video_link img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    position: relative;
}
.demonstration-block .video_link .icon4 {
    width: 97px;
    height: 98px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.callback {
    margin: 0 30px;
    border-radius: 21px;
    background: linear-gradient(334deg, #88CB1A -0.9%, #F2FF5B 99.84%);
    padding-top: 84px;
    position: relative;
    margin-bottom: 130px;
}
.callback_wrap {
    position: relative;
    display: flex;
    align-items: flex-end;
}
.callback_img {
    width: 370px;
    height: 357px;
}
.callback_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.callback_info {
    width: calc(100% - 450px);
    margin-left: auto;
    padding-bottom: 81px;
    padding-right: 30px;
}
.callback_title {
    color: #1F1F1F;
    font-size: 66px;
    font-style: normal;
    font-weight: 800;
    line-height: 90.909%;
    margin-bottom: 28px;
}
.callback_text {
    color: #1F1F1F;
    font-size: var(--font_size);
    font-style: normal;
    font-weight: 700;
    line-height: 133.3%; 
    margin-bottom: 33px;
}
.callback .line { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 19px;
}
.callback .line .field {
    flex: 1 1 calc(100%/3 - 19px);
}
.callback .line .field input {
    border-radius: 41px;
    background: #FFF;
    box-shadow: 0px 17.075px 76.84px -10.245px rgba(130, 199, 61, 0.60);
    padding: 0 27px;
    height: 73px;
    border: none;
    color: #62732B;
    font-family: var(--font_family);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    width: 100%;
}
.callback .line .field:nth-child(3) {
    flex-basis: 201px;
}
.callback .line .field button {
    color: var(--text_color);
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 73px;
    width: 100%;
    height: 73px; 
    border-radius: 40.981px;
    background: #1F1F1F;
    box-shadow: 0px 17.075px 76.84px -10.245px rgba(130, 199, 61, 0.60);   
}



.price_text {
    margin-bottom: 40px;
}
.price_text b {
    background: linear-gradient(334deg, #88CB1A -0.9%, #F2FF5B 99.84%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 26px;
    font-style: normal;
    font-weight: 800;
    line-height: 133.3%;
}
.price_items {
    display: flex;
    flex-wrap: wrap;
    gap: 31px;
}
.price_item {
    border-radius: 29px;
    background: linear-gradient(210deg, #343434 0%, #252525 100%);
    box-shadow: 0px 9.377px 32.308px 0px rgba(0, 0, 0, 0.03);
}
.price_item:nth-child(1) {
    width: 100%;
    padding: 35px 33px 35px 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.price_item:nth-child(2) {
    flex: 1 1 calc(50% - 32px);
    padding: 32px;
    display: flex;
}
.price_item:nth-child(3) {
    flex: 1 1 calc(50% - 32px);
    padding: 32px;
    display: flex;
    align-items: center;
}
.price_item-title {
    color: var(--text_color);
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 116.319%; 
    margin-bottom: 5px;
}
.price_item-title span {
    background: linear-gradient(334deg, #88CB1A -0.9%, #F2FF5B 99.84%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 116.319%;
}
.price_item-text {
    color: #C2C2C2;
    font-size: var(--font_size);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.price_item-text span {
    background: linear-gradient(334deg, #88CB1A -0.9%, #F2FF5B 99.84%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: var(--font_size);
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.price_item-link {
    border-radius: 40.981px;
    background: var(--123, linear-gradient(334deg, #88CB1A -0.9%, #F2FF5B 99.84%));
    box-shadow: 0px 17.075px 76.84px -10.245px rgba(130, 199, 61, 0.43);
    display: block;
    text-decoration: none;
    text-align: center;
    width: 279px;
    height: 56px;
    line-height: 56px;
    color: #42580F;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
}
.price_item-number {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2B2B2B;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 72px; 
    margin-right: 27px;
    flex-shrink: 0;
}
.price_label {
    color: var(--text_color);
    font-size: var(--font_size);
    font-style: normal;
    font-weight: 700;
    line-height: 133.3%;
    margin-top: 30px;
    margin-left: auto;
    text-align: end;
}
.price_label span {
    font-size: 30px;
    background: linear-gradient(334deg, #88CB1A -0.9%, #F2FF5B 99.84%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
}




footer {
    padding-bottom: 70px;  
}
footer .cont {
    border-top: 1px solid #555;
    padding-top: 65px;
}
.footer_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer_contact a {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #C2C2C2;
    font-size: var(--font_size);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}
.footer_contact a img {
    display: block;
    margin-right: 10px;
    width: 25px;
    height: 26px;
}
.footer_contact a + a {
    margin-top: 11px;
}